@keyframes unload-warning {
  0% {
    opacity: 0;
    top: -100%;
  }

  5% {
    opacity: 1;
    top: 0.5rem;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes unload-progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@media screen and not (prefers-reduced-motion) {
  .warning,
  .success,
  .fail {
    animation: unload-warning 3.25s forwards;
  }

  .warning::after,
  .success::after,
  .fail::after {
    animation: unload-progress 3s linear forwards;
  }
}
