.form__field:focus-within {
  transform: translateX(1%)
}

.form__field--textarea:focus-within {
  transform: scale(1.025);
}

.form__label:hover,
.form__label--column:hover {
  background-image: linear-gradient(
    to bottom,
    var(--c-main-ds),
    var(--c-main-d)
  );
  color: var(--c-black);
}

.form__field:focus-within .form__label,
.form__field--textarea:focus-within .form__label--column {
  background-image: none;
  background-color: var(--c-main-d);
  color: var(--c-black);
}

.form__input:focus + .form__output,
.form__textarea:focus + .form__output {
  border-color: var(--c-main-d);
  background-color: var(--c-gray-ds);
  color: var(--c-white);
}

.form__input:focus,
.form__textarea:focus {
  background-color: var(--c-white);
  box-shadow: inset 0 0 4px 0 var(--c-gray-d);
}

.form__input:focus {
  border-color: var(--c-main-d);
}

details:hover,
details:focus-within {
  transform: translateY(-4%);
  box-shadow: 0 0 8px 0 var(--c-gray-d);
}

details[open] .fa-angles-right {
  transform: rotate(90deg);
}

details:focus-within summary {
  color: var(--c-main-xds);
}

details[open] summary {
  margin-bottom: 1rem;
}

.form__button:hover,
.form__button:focus,
.delete-button:hover,
.delete-button:focus {
  transform: scale(1.03);
}

.form__button:hover,
.form__button:focus {
  background-image: linear-gradient(
    to bottom,
    var(--c-main),
    var(--c-main-xds)
  );
  color: var(--c-black);
  box-shadow: 0 0 4px 0 var(--c-gray-d);
}

.delete-button:hover,
.delete-button:focus {
  background-image: linear-gradient(to bottom, var(--c-red), var(--c-red-ds));
  box-shadow: 0 0 4px 0 var(--c-black);
}

.form__button:active,
.delete-button:active {
  background-image: none;
  box-shadow: none;
  transform: scale(1);
}

.form__button:active {
  background-color: var(--c-main-d);
}

.delete-button:active {
  background-color: var(--c-red);
  box-shadow: none;
}

.form__submit:hover,
.form__submit:focus {
  transform: translateY(-5%) scale(1.025);
  box-shadow: 0 0 8px var(--c-gray-ds);
}

.form__submit:active {
  transform: translateY(0) scale(1);
  box-shadow: none;
  background-image: none;
  background-color: var(--c-main-d);
}

.footer__link:hover {
  text-decoration: none;
}

.footer__link:focus {
  background-color: var(--c-main);
  color: var(--c-black);
}
