.form {
  display: grid;
  gap: 2rem;
  width: calc(100vw - 2rem);
}

.form__fieldset {
  display: grid;
  gap: 0.75rem 2rem;
  padding: 0.75rem;
  background-color: var(--c-gray-ls);
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 0 var(--c-gray-d);
}

.form__legend {
  background-color: var(--c-gray-ls);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  white-space: nowrap;
}

.form__options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.form__dialog > .form__options {
  flex-direction: column;
}

.form__button {
  flex: 1;
}

.form__field,
.form__field--textarea {
  border-radius: 0.25rem;
  display: grid;
}

.form__field {
  grid-template-areas: "label blank" "field counter";
  grid-template-columns: 1fr 4rem;
}

.form__field--textarea {
  grid-template-areas: "label" "field" "counter";
  align-self: flex-start;
}

.form__label,
.form__label--column,
.form__button,
.form__submit {
  text-transform: uppercase;
}

.form__label,
.form__label--column {
  padding: 0.25rem 0.75rem;
  background-image: linear-gradient(
    to bottom,
    var(--c-main-ds),
    var(--c-main-d)
  );
  white-space: nowrap;
  grid-area: label;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.form__label {
  max-width: 11rem;
}

.form__input,
.form__textarea {
  padding: 0.5rem 0.75rem;
  grid-area: field;
  background-color: var(--c-white-d);
}

.form__input {
  border-top: 2px solid var(--c-main-d);
  border-bottom-left-radius: 0.25rem;
  width: 100%;
}

.form__textarea {
  word-break: break-word;
}

.form__output {
  background-color: var(--c-gray-l);
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 1px;
  display: grid;
  align-items: center;
  text-align: center;
  grid-area: counter;
}

.form__input + .form__output {
  border-top: 2px solid var(--c-main-d);
  border-bottom-right-radius: 0.25rem;
  flex-shrink: 0;
}

.form__textarea + .form__output {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding-block: 0.25rem;
}

.form__button,
.form__submit,
.delete-button {
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  text-align: center;
  font-weight: bold;
}

.form__button,
.delete-button {
  background-image: linear-gradient(
    to bottom,
    var(--c-black-l),
    var(--c-black)
  );
  color: var(--c-white);
}

.form__warning {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--c-white);
}

.form__submit {
  background-image: linear-gradient(
    to bottom,
    var(--c-main-d),
    var(--c-main-ds)
  );
}

.experiences,
.degrees,
.skills {
  display: grid;
  gap: 1rem;
}

.experiences__title,
.degrees__title,
.skills__title {
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid;
}

.experience,
.degree,
.skill {
  background-color: var(--c-white);
  border-radius: 0.25rem;
  padding: 1rem;
  overflow-x: hidden;
  align-self: flex-start;
}

.experience__title,
.degree__title,
.skill__title {
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.experience__details,
.degree__details {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.experience__period,
.experience__company,
.experience__location,
.degree__school,
.degree__period {
  background-color: var(--c-gray-ls);
  max-width: max-content;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
  border-radius: 1rem;
  text-transform: uppercase;
}

.experience__desc,
.degree__desc,
.skill__desc {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--c-white-d);
  word-break: break-word;
}

.experience__options,
.degree__options,
.skill__options {
  margin-top: 1rem;
}
