@keyframes slide-in-y {
  0% {
    opacity: 0;
    top: -100%;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: var(--end-position);
  }
}

@keyframes slide-in-x {
  0% {
    right: 100%;
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    right: var(--end-position);
    opacity: 1;
  }
}

@keyframes unload-warning {
  0% {
    opacity: 0;
    top: -100%;
  }

  5% {
    opacity: 1;
    top: 0.5rem;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes unload-progress {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@media screen and not (prefers-reduced-motion) {
  .warning,
  .success,
  .fail {
    animation: unload-warning 3.25s forwards;
  }

  .warning::after,
  .success::after,
  .fail::after {
    animation: unload-progress 3s linear forwards;
  }

  dialog[open] {
    --end-position: 0;
    animation: slide-in-y 0.2s ease forwards;
  }

  .invalid .form__label::after {
    --end-position: -2.25rem;
    animation: slide-in-x 0.1s ease forwards;
  }

  .invalid:focus-within .form__warning--invalid {
    --end-position: 100%;
    animation: slide-in-y 0.2s ease forwards;
  }
}
