@media screen and (min-width: 768px) {
  .header__warning {
    margin-inline: 4rem;
    width: calc(100% - 8rem);
  }

  .main {
    padding: 4rem;
  }

  .form {
    max-width: 100%;
  }

  .form__fieldset,
  .form__dialog--add {
    padding: 1rem;
  }

  .form__options {
    flex-direction: row;
    justify-content: flex-end;
  }

  .form__fieldset > .form__options > .form__option {
    width: 20rem;
  }

  dialog .form__options {
    justify-content: center;
  }

  .form__submit {
    width: 24rem;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .header__warning {
    margin-inline: 10rem;
    width: calc(100% - 20rem);
  }

  .main {
    padding: 4rem 10rem;
  }

  .form__dialog--add {
    width: 24rem;
  }

  .experiences,
  .degrees,
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
