@media screen and (min-width: 768px) {
  .header__warning {
    margin-inline: 4rem;
    width: calc(100vw - 8rem);
  }

  .main {
    padding: 4rem;
  }

  .form {
    max-width: calc(100vw - 8rem);
  }

  .form__options {
    justify-content: flex-end;
  }

  dialog .form__options {
    justify-content: center;
  }

  .form__dialog > .form__options {
    flex-direction: row;
  }

  .form__button {
    max-width: 20rem;
  }

  .form__submit {
    width: 24rem;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .header__warning {
    margin-inline: 8rem;
    width: calc(100vw - 16rem);
  }

  .main {
    padding: 4rem 8rem;
  }

  .form {
    max-width: calc(100vw - 16rem);
  }

  .form__fieldset:first-child {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .form__field {
    align-self: flex-start;
  }

  .form__fieldset:first-child .form__field {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .form__fieldset:first-child > :last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
  }

  .experiences,
  .degrees,
  .skills {
    grid-template-columns: repeat(2, 1fr);
  }

  .form__dialog--add {
    grid-template-columns: 3fr 2fr;
  }

  .form__dialog--add .form__field {
    grid-column: 1 / 2;
  }

  .form__dialog--add .form__field--textarea {
    grid-column: 2 / 5;
    grid-row: 1 / 5;
  }

  .form__dialog--add .form__options {
    grid-column: 1 / 5;
    grid-row: 6 / 6;
  }
}
