.form__field:focus-within,
.form__field--textarea:focus-within {
  z-index: 10;
}

.form__field:focus-within::before,
.form__field--textarea:focus-within::before {
  background-color: var(--c-main-d);
}

.form__field.invalid::before,
.form__field--textarea.invalid::before {
  background-color: var(--c-red-l);
}

.form__field.invalid .form__label::after,
.form__field--textarea.invalid .form__label::after {
  content: "!";
  position: absolute;
  right: -2.5rem;
  bottom: 0.25rem;
  background-color: var(--c-black);
  width: 2rem;
  height: 1.75rem;
  color: var(--c-white);
  text-align: center;
  font-weight: bold;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  display: inline-block;
  clip-path: polygon(
    12.5% 0%,
    100% 0%,
    100% 100%,
    12.5% 100%,
    12.5% 65%,
    0% 50%,
    12.5% 35%
  );
}

.form__label:hover,
.form__field:focus-within .form__label,
.form__field--textarea:focus-within .form__label,
.form__field.invalid .form__label,
.form__field--textarea.invalid .form__label,
.form__button:hover,
.form__button:focus,
.footer__link:focus {
  color: var(--c-black);
}

.form__label:hover {
  background-image: linear-gradient(
    to bottom,
    var(--c-main-ds),
    var(--c-main-d)
  );
}

.form__field:focus-within .form__label,
.form__field--textarea:focus-within .form__label,
.form__field.invalid .form__label,
.form__field--textarea.invalid .form__label,
.form__button:active,
.delete-button:active,
.form__submit:active {
  background-image: none;
}

.form__field:focus-within .form__label,
.form__field--textarea:focus-within .form__label,
.form__button:active,
.form__submit:active {
  background-color: var(--c-main-d);
}

.form__field.invalid .form__label,
.form__field--textarea.invalid .form__label {
  background-color: var(--c-red-l);
}

.form__input:focus + .form__output,
.form__textarea:focus + .form__output,
.form__input:focus,
.form__textarea:focus {
  border-color: var(--c-main-d);
}

.form__input:focus + .form__output,
.form__textarea:focus + .form__output {
  background-color: var(--c-main-d);
}

.form__input:focus,
.form__textarea:focus {
  background-color: var(--c-white);
  box-shadow: inset 0 0 4px 0 var(--c-gray-d);
}

.form__field.invalid:focus-within .form__input,
.form__field--textarea.invalid:focus-within .form__textarea,
.form__field.invalid:focus-within .form__output,
.form__field--textarea.invalid:focus-within .form__output {
  border-color: var(--c-red-l);
}

.form__field.invalid:focus-within .form__output,
.form__field--textarea.invalid:focus-within .form__output {
  background-color: var(--c-red-l);
}

.form__field.invalid:focus-within .form__warning--invalid,
.form__field--textarea.invalid:focus-within .form__warning--invalid {
  padding: 0.5rem;
  top: 100%;
  left: 0.5rem;
  background-color: var(--c-yellow-l);
  border: 2px solid var(--c-yellow-d);
  height: auto;
  width: auto;
}

details:hover,
details:focus-within {
  transform: translateY(-4%);
  box-shadow: 0 0 8px 0 var(--c-gray-d);
}

details[open] .fa-angles-right {
  transform: rotate(90deg);
}

details:focus-within summary {
  color: var(--c-main-xds);
}

details[open] summary {
  margin-bottom: 1rem;
}

.form__button:hover,
.form__button:focus,
.delete-button:hover,
.delete-button:focus {
  transform: scale(1.03);
}

.form__button:hover,
.form__button:focus {
  background-image: linear-gradient(
    to bottom,
    var(--c-main),
    var(--c-main-xds)
  );
  box-shadow: 0 0 4px 0 var(--c-gray-d);
}

.delete-button:hover,
.delete-button:focus {
  background-image: linear-gradient(to bottom, var(--c-red), var(--c-red-ds));
  box-shadow: 0 0 4px 0 var(--c-black);
}

.form__button:active,
.delete-button:active,
.form__submit:active {
  box-shadow: none;
}

.form__button:active,
.delete-button:active {
  transform: scale(1);
}

.delete-button:active {
  background-color: var(--c-red);
}

.form__submit:hover,
.form__submit:focus {
  transform: translateY(-5%) scale(1.025);
  box-shadow: 0 0 8px var(--c-gray-ds);
}

.form__submit:active {
  transform: translateY(0) scale(1);
}

.footer__link:hover {
  text-decoration: none;
}

.footer__link:focus {
  background-color: var(--c-main);
}
