@import url("./variables.css");

@font-face {
  font-family: "RedHat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "RedHat Display", monospace;
  color: var(--c-black-l);
  background-color: var(--c-white);
}

.resume {
  margin: 3rem 1.5rem;
}

.header,
.main,
.experiences__list,
.degrees__list,
.skills__list,
.experience,
.degree,
.skill,
.header__options {
  display: grid;
}

.resume > .header,
.resume > .main {
  row-gap: 2rem;
  column-gap: 4rem;
}

.header {
  margin-bottom: 3rem;
}

summary,
button {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

i {
  pointer-events: none;
  margin-inline: 0.5rem;
}

::marker {
  content: "";
}

.about__title,
.experience__title,
.degree__title,
.skill__title {
  font-weight: 700;
}

.about__title,
.about__job,
.experience__info,
.degree__info {
  margin-bottom: 1rem;
}

.about__title {
  font-size: 2rem;
}

[class*="__title"],
.about__job {
  text-transform: capitalize;
}

.about__job,
.experience__date,
.experience__company,
.experience__location,
.degree__school,
.degree__date {
  background-color: var(--c-gray-ls);
  max-width: max-content;
  border-radius: 1rem;
}

.about__job {
  padding: 0.25rem 0.75rem;
}

.info {
  line-height: 1.5;
}

.info__title {
  font-weight: bold;
  font-size: 1.125rem;
}

.info__email,
.info__web-page {
  color: var(--c-main-xds);
}

.experiences__title,
.degrees__title,
.skills__title,
.experience__date,
.experience__company,
.experience__location,
.degree__school,
.degree__date,
.header__button {
  text-transform: uppercase;
}

.experiences__title,
.degrees__title,
.skills__title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid;
}

.experiences__list,
.degrees__list,
.skills__list,
.experience,
.degree,
.skill {
  gap: 1rem;
}

.experience,
.degree,
.skill {
  border-radius: 0.25rem;
  padding: 1rem;
  overflow-x: hidden;
  align-self: flex-start;
}

.experience__title,
.degree__title,
.skill__title {
  font-size: 1.25rem;
}

.experience__info,
.degree__info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.experience__date,
.experience__company,
.experience__location,
.degree__school,
.degree__date {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.header__options {
  justify-content: center;
}

.header__button {
  background-image: linear-gradient(
    to bottom,
    var(--c-main-d),
    var(--c-main-ds)
  );
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
