@import url("./variables.css");

@font-face {
  font-family: "RedHat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "RedHat Display";
  color: var(--c-black-l);
  background-color: var(--c-white);
}

.resume {
  margin: 3rem 1.5rem;
}

.header {
  display: grid;
  margin-bottom: 3rem;
  row-gap: 2rem;
  column-gap: 4rem;
}

.main {
  display: grid;
  row-gap: 2rem;
  column-gap: 4rem;
}

summary {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

i {
  pointer-events: none;
  margin-inline: 0.5rem;
}

::marker {
  content: "";
}

.about__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

[class*="__title"] {
  text-transform: capitalize;
}

.about__job {
  background-color: var(--c-gray-ls);
  max-width: max-content;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.info {
  font-size: 1rem;
  line-height: 1.5;
}

.info__title {
  font-weight: bold;
  font-size: 1.125rem;
}

.info__email,
.info__web-page {
  color: var(--c-main-xds);
}

.experiences__title,
.degrees__title,
.skills__title {
  font-size: 1.375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid;
}

.experiences__list,
.degrees__list,
.skills__list {
  display: grid;
  gap: 1rem;
}

.experience,
.degree,
.skill {
  border-radius: 0.25rem;
  padding: 1rem;
  overflow-x: hidden;
  align-self: flex-start;
  display: grid;
  gap: 1rem;
}

.experience__title,
.degree__title,
.skill__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.experience__info,
.degree__info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.experience__date,
.experience__company,
.experience__location,
.degree__school,
.degree__date {
  background-color: var(--c-gray-ls);
  max-width: max-content;
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.resume-options {
  display: grid;
  justify-content: center;
}

.resume-options__btn {
  background-image: linear-gradient(
    to bottom,
    var(--c-main-d),
    var(--c-main-ds)
  );
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}
