@font-face {
  font-family: "RedHat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "RedHat Display", sans-serif, monospace;
  color: var(--c-black-l);
  background-color: var(--c-white-d);
}

::marker {
  content: "";
}

button,
label,
summary {
  cursor: pointer;
}

input,
textarea {
  max-width: 100%;
}

textarea {
  resize: vertical;
}

dialog[open] {
  background-color: var(--c-gray-ls);
  border: none;
  border-radius: 0.5rem;
  display: grid;
}

details[open] summary {
  white-space: break-spaces;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-solid {
  pointer-events: none;
  margin-inline: 0.25rem;
}

.hidden {
  display: none;
}

.note {
  font-size: 0.8rem;
}

.header__warning,
.main__title,
.footer {
  text-align: center;
}

.header__warning,
.main__title,
.footer__title {
  font-weight: bold;
}

.header__warning {
  position: fixed;
  top: 0.5rem;
  margin-inline: 1rem;
  width: calc(100% - 2rem);
  z-index: 100;
  padding: 0.5rem 1rem;
  background-color: var(--c-white);
  border-radius: 0.25rem;
}

.header__warning.success {
  background-image: linear-gradient(
    to bottom,
    var(--c-green-ls),
    var(--c-green-l)
  );
  color: var(--c-green-ds);
  box-shadow: 0 0 8px 0 var(--c-green-ds);
}

.header__warning.fail {
  background-image: linear-gradient(to bottom, var(--c-red-ls), var(--c-red-l));
  color: var(--c-red-ds);
  box-shadow: 0 0 8px 0 var(--c-red-ds);
}

.header__warning.warning {
  background-image: linear-gradient(
    to bottom,
    var(--c-yellow-ls),
    var(--c-yellow-l)
  );
  color: var(--c-yellow-ds);
  box-shadow: 0 0 8px 0 var(--c-yellow-ds);
}

.main,
.footer {
  padding: 3rem 1rem;
}

.main__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--c-black-l);
  color: var(--c-white);
}

.footer__title {
  margin-bottom: 1.5rem;
}

.footer__link {
  color: var(--c-main);
  text-decoration: underline;
}
