:root {
  --c-black: hsl(260, 14%, 4%);
  --c-black-l: hsl(260, 14%, 8%);
  --c-gray-d: hsl(257, 5%, 50%);
  --c-gray: hsl(257, 5%, 60%);
  --c-gray-l: hsl(255, 5%, 70%);
  --c-gray-ls: hsl(255, 5%, 80%);
  --c-main-ls: hsl(196, 84%, 80%);
  --c-main-l: hsl(196, 84%, 70%);
  --c-main: hsl(196, 84%, 60%);
  --c-main-d: hsl(196, 84%, 50%);
  --c-main-ds: hsl(196, 80%, 40%);
  --c-main-xds: hsl(196, 80%, 30%);
  --c-white: hsl(260, 48%, 97%);
  --c-white-d: hsl(260, 48%, 92%);
  --c-green-ls: hsl(110, 60%, 77%);
  --c-green-l: hsl(110, 60%, 67%);
  --c-green: hsl(110, 60%, 47%);
  --c-green-d: hsl(110, 60%, 27%);
  --c-green-ds: hsl(110, 60%, 17%);
  --c-red-ls: hsl(0, 80%, 85%);
  --c-red-l: hsl(0, 80%, 75%);
  --c-red: hsl(0, 80%, 51%);
  --c-red-d: hsl(0, 80%, 40%);
  --c-red-ds: hsl(0, 80%, 25%);
  --c-yellow-ls: hsl(64, 80%, 85%);
  --c-yellow-l: hsl(64, 80%, 75%);
  --c-yellow: hsl(64, 80%, 50%);
  --c-yellow-d: hsl(64, 80%, 30%);
  --c-yellow-ds: hsl(64, 80%, 20%);
}

@font-face {
  font-family: "RedHat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "RedHat Display", sans-serif, monospace;
  color: var(--c-black-l);
  background-color: var(--c-white-d);
}

::marker {
  content: "";
}

button,
label,
summary {
  cursor: pointer;
}

input,
textarea {
  max-width: 100%;
}

dialog[open] {
  background-color: var(--c-gray-ls);
  border: none;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.5rem 2rem;
  padding: 0.75rem;
}

details[open] summary {
  white-space: break-spaces;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-solid {
  pointer-events: none;
  margin-inline: 0.25rem;
}

.hidden {
  display: none;
}

.header__warning {
  position: fixed;
  top: 0.5rem;
  margin-inline: 1rem;
  width: calc(100vw - 2rem);
  z-index: 100;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--c-white);
  border-radius: 0.25rem;
  font-weight: bold;
}

.header__warning.success {
  background-image: linear-gradient(
    to bottom,
    var(--c-green-ls),
    var(--c-green-l)
  );
  color: var(--c-green-ds);
  box-shadow: 0 0 8px 0 var(--c-green-ds);
}

.header__warning.fail {
  background-image: linear-gradient(to bottom, var(--c-red-ls), var(--c-red-l));
  color: var(--c-red-ds);
  box-shadow: 0 0 8px 0 var(--c-red-ds);
}

.header__warning.warning {
  background-image: linear-gradient(
    to bottom,
    var(--c-yellow-ls),
    var(--c-yellow-l)
  );
  color: var(--c-yellow-ds);
  box-shadow: 0 0 8px 0 var(--c-yellow-ds);
}

.main,
.footer {
  padding: 3rem 1rem;
}

.main__title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--c-black-l);
  color: var(--c-white);
  text-align: center;
}

.footer__title {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.footer__link {
  color: var(--c-main);
  text-decoration: underline;
}
