:root {
  --c-black: hsl(260, 14%, 4%);
  --c-black-l: hsl(260, 14%, 8%);
  --c-gray-d: hsl(257, 5%, 50%);
  --c-gray: hsl(257, 5%, 60%);
  --c-gray-l: hsl(255, 5%, 70%);
  --c-gray-ls: hsl(255, 5%, 80%);
  --c-main-ls: hsl(196, 84%, 80%);
  --c-main-l: hsl(196, 84%, 70%);
  --c-main: hsl(196, 84%, 60%);
  --c-main-d: hsl(196, 84%, 50%);
  --c-main-ds: hsl(196, 84%, 40%);
  --c-white: hsl(260, 48%, 97%);
  --c-white-d: hsl(260, 48%, 92%);
}

@font-face {
  font-family: "RedHat Display";
  src: url("../../public/fonts/RedHatDisplay-VariableFont_wght.ttf");
}

body {
  font-family: "RedHat Display", sans-serif;
  color: var(--c-black-l);
  font-size: 1.125rem;
  background-color: var(--c-white-d);
}

::marker {
  content: "";
}

button,
label,
summary {
  cursor: pointer;
}

input,
textarea {
  max-width: 100%;
}

dialog[open] {
  background-color: var(--c-gray-ls);
  border: none;
  border-radius: 0.5rem;
  display: grid;
  gap: 0.5rem;
  padding: 0.75rem;
}

details[open] summary {
  white-space: break-spaces;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-solid {
  pointer-events: none;
  margin-inline: 0.25rem;
}

.main,
.footer {
  padding: 3rem 1rem;
}

.main__title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--c-black-l);
  color: var(--c-white);
  text-align: center;
}

.footer__title {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.footer__link {
  color: var(--c-main);
  text-decoration: underline;
}